
/* 1. Header 850 pixels wide
2. Header centered within the full width of screen


*/
* {
    box-sizing: border-box;
}
body{
    background-color: lightgrey;
}
/* Header*/
.active-button{
    border-bottom: 2px solid#3b5998;
}
.head-contain {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 300px;
    width: 850px;
    background-color: #3b5998;
}
.profile-pic {
    height: 105px;
    width: 105px;
    position: relative;
    background-color: #3b5998;
    border: black thin solid;
    top: 180px;
    left: 10px;
    z-index: 1;
}
.name {
    position: relative;
    top: 50px;
    left: 150px;
    font-family: sans-serif;
    color: white;
}
.header-buttons{
    float: right;
    margin-right: 10px;

}
.nav-tab ul{
    position: relative;
    left: 100px;
}
.nav-tab {
    width: 850px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    background-color: white;
    font-family: sans-serif;
}
.nav-tab a {
    text-decoration: none;
    color: black;
}
.nav-tab li{
    list-style: none;
    margin-left:1px;
    margin-right:1px;
    padding:5px;
    float: left;
    border-left: 2px solid lightgrey;
}
.nav-tab li:first-child{
    border-left: none;
}

/* COLUMNS

3. Below, Two column layout.

4. Left Column 328 pixels

5. Right Column 512 pixels wide

6. Space seperating columns 10 px
 
7. One box with content on left and right

*/

.column-container{
    position: absolute;
    top: 450px;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 300px;
    width: 850px;
    background-color: none;
}
.left-column {
    width: 328px;
    height: 100%;
    float: left;
    background-color: none;
}
.right-column {
    position: relative;
    width: 512px;
    height: 800px;
    float: right;
    background-color: none;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  background-color: none;
  color: grey;
  text-align: left;
  font-size: 6pt;
}
.footer li{
    display: inline;
}
.right-column img{
    float: left;
    height: auto;
    width: 100%;
    display: inline-block;
}
.kid h3{
    position: relative;
    font-size: 48pt;
}